img {
    width: 100%;
  }
  
  .landing {
    position: relative;
    background: url('img/lightingLanding.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
  }